

#botao2{
    margin-left: 30vh;
}

#img1 {
    background-size: 100% 100%;
    width: 50px;
    height: 50x;
}

.a{
    margin-left: 10%;
    height: 390px;
    width: 1100px;
    margin-top: 1vh;
}

#cupom{
    margin-left: 61vh;
}

body{
    background-color: rgb(192, 191, 191) !important;
}

#novamente{
    margin-top: 10vh;
    margin-left: 19vh;
}

#Relampago{
    margin-top: 10vh;
    margin-left: 19vh;
}


.imgcard {
    height: 250px;
    width: auto;

}

.cardm {
    display: flex;
}
